<!DOCTYPE html>
<html>
<head>
    <title>Add game to you collection</title>
</head>
<body>
    <form action='game/review' method='POST'>
        <h2>Title</h2>

        <input type='text' id='title' name='title'>
    </br></br>

        <h2>Rating</h2>
        <label>1</label>
        <input type='radio' name='rating' value=1>
        <label>2</label>
        <input type='radio' name='rating' value=2>
        <label>3</label>
        <input type='radio' name='rating' value=3>
        <label>4</label>
        <input type='radio' name='rating' value=4>
        <label>5</label>
        <input type='radio' name='rating' value=5>
    </br></br>

        <h2>Comments</h2>

        <textarea name='comment'></textarea>

    </br></br>

        <h2>Start Date</h2>
        <!--- figure out how to fix this---->

        <label for="start">Start date:</label>
        <input type="date" id='date' name='start_date'>

     </br></br>

        <h2>End Date</h2>
        <!--- figure out how to fix this --->

        <label for="start">Completed date:</label>
        <input type="date" id='date' name='end_date'>

    </br></br>

        <input type='submit'>




</body>
</html>