{% extends 'base.html' %}
{% block content %}

<div class="game-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">{{ game_info.name }}</div>
                <div class="card-body">
                  <table>
                  <tr>
                  <td>
                     <img src="{{ cover }}" alt=" {{ game_info.name }}"></td>
                    <td>
                    <ul>
                    </li>
                    <li>
                       Platform(s): {{ consoles }}
                    </li>
                    <li>
                       Release Date: {{ first_release_date }}
                    </li>
                    <li>
                       Genre(s): {{ genre }}
                    </li>
                  </ul>
                  </td>
                  </tr>
                  </table> 
                </div>
              </div>
            </div>
          </div>
  </div>
<br>
  <div class="game-info">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">LFG posts for {{ game_info.name }}</div>
                <div class="card-body">
               <ul>
                {% for lfg in lfgs %}
              <li>
            <a href="/profile/{{ lfg.user.username }}">{{ lfg.user.username }}</a>: [{{ lfg.comment }}]
          </li>
          {% endfor %}
          </ul>
        </div>
</div>
<br>
<a href="/search">Search another game</a>

<p><a href="/">Back to homepage</a></p></div>
</div>


{% endblock %}
