{% extends 'base.html' %}

{% block content %}

<h3> {{ game_info.name }} </h3>
   <ul>
    <li>
        Game Cover : <img src="{{ cover }}" alt=" {{ game_info.name }}">
      </li>
      <li>
         Platform(s): {{ consoles }}
      </li>
      <li>
         Release Date: {{ first_release_date }}
      </li>
      <li>
         Genre(s): {{ genre }}
      </li>
    
  </ul>
  
  <h4>Users that have an LFG post to {{ game_info.name }}</h4>
  
  <ul>
    {% for lfg in lfgs %}
      <li>
        <a href="/profile/{{ lfg.user.username }}">
          {{ lfg.user.username }}
        </a>
      </li>
    {% endfor %}
  </ul>
</br>
<a href="/search">Search another game</a>

<p><a href="/">Back to homepage</a></p>

{% endblock %}