{% extends 'base.html' %}
{% block content %}

<h1>Message Board</h1>
<form action='/profile/{{ username }}/messages' method="POST">

<ul>
    {% for message in messages %}
      <li>
         {{ message.author.username }}: {{ message.comment }} [Time: {{ message.created_at}}]
      </li>
    {% endfor %}
  </ul>

<textarea name='message'></textarea> 
</br>
<input type='submit'>

</form>
</br>
<a href="/profile/{{ username }}">Go back to their Profile</a>
</br>
<a href="/profile">Go to your Profile</a>

{% endblock %}