{% extends 'base.html' %}
{% block content %}

<div class="gamelist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">Message Board</div>
                <div class="card-body">
                    <form action='/profile/{{ username }}/messages' method="POST">

                    <ul>
                    {% for message in messages %}
                    <li>
                    {{ message.author.username }}: {{ message.comment }} [Time: {{ message.created_at.strftime('%m-%d-%Y, %H:%M:%S') }}]
                    </li>
                    {% endfor %}
                    </ul>

                    <br>
                    <div class="col-md-6">
                    <textarea name='message'></textarea>
                    </div>
                    <br>
                    <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Submit
                    </button>
                    </div>
                    </form>
                   </div>
                </div> 
            </br>
            <a href="/profile/{{ username }}">Go back to their Profile</a>
            </br>
            <a href="/profile">Go to your Profile</a>
        </div>
    </div>
</div>
</div>


{% endblock %}