{% extends 'base.html' %}
{% block content %}

<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                <div class="card-header">This is your profile, {{ user.username }}</div>
                <div class="card-body">
                  <h6> LFG </h6>

                  <ul>
                    {% for lfg in lfgs %}
                      <li>
                     {{ lfg.game.title }}: [{{ lfg.comment }}]
                      </li>
                    {% endfor %}
                  </ul>

                  <h6>{{ user.username}}'s Message Board</h6>
                 <a href="/profile/messages">Message Board</a>

                </div>
                </div>
            </div>
            <div class="col-md-4">
            <div class="card">
            <div class="card-header">Your platform Information</div>
            <div class="card-body">
             <ul>
                <li>
                   Xbox: {{ user.xbox_tag }}
                </li>
                <li>
                   PSN: {{ user.psn_tag }}
                </li>
                <li>
                    Nintendo: {{ user.nintendo_tag }}
                </li>
                <li>
                    Steam: {{ user.steam_tag }}
                </li>
                <li>
                   Twitch: {{ user.twitch_tag }}
                </li>
                <li>
                   Discord: {{ user.discord_tag }}
                </li>
            
              </ul>
              <p><a href ="/profile/update">Update platform information</a></p>
        </div>
    </div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-4">
        <div class="card">
        <div class="card-header">Other Users</div>
        <div class="card-body">
          <ul>
            {% for other_user in other_users %}
              <li>
                <a href="/profile/{{ other_user.username }}">
                {{ other_user.username }}
                </a>
              </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div> 

<div class="row">
  <div class="col-md-6">
    <h2>This is your profile, {{ user.username }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Your game collection</h3>
    <a href="/profile/list">Game Collection</a>
  </div>

  <div class="col-md-6">
    <h3>Add game to your collection</h3>
    <p><a href="/game/search">Add game</a></p>
  </div>

<div class="col-md-6">
  <h3> Update your platform information </h3>
  <p><a href ="/profile/update">Update profile</a></p>
</div>

 <div class="col-md-6">
  <h3> Your platform Information, {{ user.username }}</h3>
   <ul>
      <li>
         Xbox: {{ user.xbox_tag }}
      </li>
      <li>
         PSN: {{ user.psn_tag }}
      </li>
      <li>
          Nintendo: {{ user.nintendo_tag }}
      </li>
      <li>
          Steam: {{ user.steam_tag }}
      </li>
      <li>
         Twitch: {{ user.twitch_tag }}
      </li>
      <li>
         Discord: {{ user.discord_tag }}
      </li>
  
  </ul>
</div>

<div class="col-md-6">
  <h3> Edit your LFG</h3>
  <p><a href="/profile/lfg">Edit LFG</a></p>
</div>

 <div class="col-md-12">
  <h3> LFG </h3>

  <ul>
    {% for lfg in lfgs %}
      <li>
     {{ lfg.game.title }}: [{{ lfg.comment }}]
      </li>
    {% endfor %}
  </ul>
  </div>

  <div class="col-md-6">
  <h3>{{ user.username}}'s Message Board</h3>
    <a href="/profile/messages">Message Board</a>

  </div>
 <div class="col-md-6">

  <h4>Other Users</h4>

  <ul>
    {% for other_user in other_users %}
      <li>
        <a href="/profile/{{ other_user.username }}">
          {{ other_user.username }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>


<p><a href="/logout">Log out</a></p>
{% endblock %}


