{% extends 'base.html' %}

{% block content %}
<h1>This is your profile</h1>

<h3>Your game collection</h3>
<p><a href="/profile/list">Game Collection</a></p>

<h3>Add game to your collection</h3>
<p><a href="/game/check">Add game</a></p>

<h3> Update your platform information </h3>
<p><a href ="/profile/update">Update profile</a></p>

<h3> Platform Information for {{ user.username }}</h3>
   <ul>
      <li>
         Xbox: {{ user.xbox_tag }}
      </li>
      <li>
         PSN: {{ user.psn_tag }}
      </li>
      <li>
          Nintendo: {{ user.nintendo_tag }}
      </li>
      <li>
          Steam: {{ user.steam_tag }}
      </li>
      <li>
         Twitch: {{ user.twitch_tag }}
      </li>
      <li>
         Discord: {{ user.discord_tag }}
      </li>
  
  </ul>

<p><a href="/logout">Log out</a></p>

{% endblock %}