<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1> Register </h1>

    <h3> Required </h3>
    <form action='/register' method='POST'>
        <label>Username:</label>
        <input type="text" id='username' name='username' required='required'>
    
    </br></br>

        <label>Password:</label>
        <input type="password" id='password' name='password' required='required'>
    
    </br></br>
    
        <label>Email:</label>
        <input type="text" id='email' name= 'email' required='required'>
    
    </br></br>
        
    <h3> Other optional info </h3>

        <label>Xbox:</label>
        <input type= 'text' id='xbox' name='xbox'>

    </br></br>

        <label>PSN:</label>
        <input type='text' id='psn' name='psn'>

    </br></br>

        <label>Nintendo:</label>
        <input type='text' id='nintendo' name='nintendo'>

    </br></br>

        <label>Steam:</label>
        <input type='text' id='steam' name='steam'>

    </br></br>

        <label>Twitch:</label>
        <input type='text' id='twitch' name='twitch'>

    </br></br>

        <label>Discord:</label>
        <input type='text' id='discord'name='discord'>

    </br></br>

        <input type='submit' value='Register'>

</body>
</html>