{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="col-md-6">
    <form action='/game/results' method='POST'>
    <h2> Which game did you want to add?</h2>
              
    {% for title in titles %}
        <label>{{ title.name }}</label>
        <input type='radio' name='title' value='{{ title.id }}'>
        </br>

    {% endfor %}                
        <label>None of these</label>
        <input type='radio' name='title' value='None'>
        </br></br>
        <input type='submit'>
    </form>
</div>

{% endblock %}
